body {
    margin: 0;
    background: url('../img/background4.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}
/* Make sure that the background fills the window of the browser*/

nav h1 {
    color: white;
    align-items: center;
    font-size: 40px;
}

nav a {
    margin: 0 0 0 0;
    font-size: 1vw;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
    height: 10vh;
    margin: 0;
    width: 100vw;
    /* backdrop-filter: blur(3px); */
}

nav .links {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 70%;
    text-decoration: none;
    color: white;
    width: 10%;
    backdrop-filter: blur(10px);
    border-radius: 2vw;
    border: solid 2px white;
}

nav .links:hover {
    text-decoration: underline;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section * {
    margin: 2vw;
}

article {
    background-color:rgba(201, 201, 201, 0.4);
    height: 90vh;
    backdrop-filter: blur(8px);
    padding: 0;
    border-radius: 15px;
}