body {
    margin: 0;
    background: url('../img/background3.jpg') no-repeat center center fixed; 
    background-size: cover;
    overflow-x: hidden;
}
/* Make sure that the background fills the window of the browser*/

nav h1 {
    color: white;
    align-items: center;
    font-size: 40px;
}

nav a {
    margin: 0 0 0 0;
    font-size: 1vw;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    margin: 0;
    width: 100vw;
}

nav .links {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 70%;
    text-decoration: none;
    color: white;
    width: 10%;
    backdrop-filter: blur(10px);
    border-radius: 2vw;
    border: solid 2px white;
}

/* animation for nav buttons */
@keyframes slideIn {
    from {
        transform: translateX(-5%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.links:hover {
    /* when the mouse is hovering over, the nav buttons
    show up with corresponding animation */
    animation: slideIn 0.5s linear forwards;
    text-decoration: underline;
}

/* animation when the website is loading */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#welcome {
    z-index: 1;
    display: flex;
    align-items:end;   
    width: 100vw;
    height: 45vh;
    margin-top: 45vh;
    animation: fadeIn 1s ease-in-out 0s forwards;
}

#scrollGuide {
    /* set the z-index so that is not covered by the pseudo element */
    z-index: 2;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

/* animation for the scroll button */
@keyframes jump {
    0% {
        transform: translateY(-25%);
    } 50% {
        transform: translateY(-5%);
    } 100% {
        transform: translateY(0);
    }
}

#scrollButton {
    background-color: transparent;
    border: 0;
}

/* jumps over and over to catch attention */
#scrollButton img {
    height: 100%;
    animation: jump 1s ease-in-out infinite;
}

/* notice the user that this is clickable */
#scrollButton:hover {
    cursor: pointer;
}

#welcome h2 {
    font-size: 5vw;
    color: rgb(247, 247, 247);
    margin-top: 0vh;
    margin-bottom: 10vh;
    position: relative;
    left: 5%;

}


/* pseudo element to make the background looks more clear */
#welcome::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 90vh;
    backdrop-filter: blur(5px);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* where all the contents are */
.sectionContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    font-size: 20px;
    animation: fadeIn 1s ease-in-out 0s forwards;
}

.block {
    display: flex;
    padding: 3px;
    margin: 2.5vw;
    color: #d5d5d5;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    font-family:'Times New Roman', Times, serif;
}



.block img {
    height: 90%;
    width: 90%;
    object-fit: cover;
    border: 2px solid white;
}


/* grows if mouse is hovering */
.block img:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.sectionTitle {
    font-size: 2.5vw; 
    margin-top: 3%;
    margin-bottom: 2%; 
    margin-left: 5%;
}

.sectionPara{
    text-indent: 1.5vw;
    margin-left: 5%;
    margin-right: 2%; 
    font-size: 1.5vw;
}
