body {
    margin: 0;
    background: url('../img/background3.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}
/* Make sure that the background fills the window of the browser*/

nav h1 {
    color: white;
    align-items: center;
    font-size: 40px;
}

nav a {
    margin: 0 0 0 0;
    font-size: 1vw;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: linear-gradient(90deg, transparent, #dddddd4d, transparent); */
    /* background-color: rgb(255, 255, 255, 0.3); */
    height: 10vh;
    margin: 0;
    width: 100vw;
    /* backdrop-filter: blur(15px); */
}

nav .links {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 70%;
    text-decoration: none;
    color: white;
    width: 15%;
    backdrop-filter: blur(10px);
    border-radius: 5rem;
    border: solid 2px white;
}

nav .links:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#welcome {
    z-index: 1;
    display: flex;
    /* justify-content: center; */
    align-items:end;   
    width: 100vw;
    height: 35vh;
    margin-top: 45vh;
    margin-bottom: 10vh;
    /* backdrop-filter: blur(5px); */
    animation: fadeIn 1s ease-in-out 0s forwards;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    /* -webkit-text-stroke: 1.2px black; */
}

#welcome h2 {
    font-size: 5vw;
    color: rgb(247, 247, 247);
    margin-top: 0vh;
    margin-bottom: 0vh;
    position: relative;
    left: 5%;

}

#welcome:after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 90vh;
    backdrop-filter: blur(5px);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: rgb(247, 247, 247);
    /* backdrop-filter: blur(5px); */
    /* margin-top: 100%; */
    /* margin-left: 5%;
    margin-right: 5%; */
    /* border-radius: 2rem; */
    font-size: 20px;
    /* border: 2px solid white; */
}

.block {
    /* display: grid;
    grid-template-columns: 1fr; */
    display: flex;
    padding: 3px;
    color: #333333;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.block img {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 90%;
    width: 90%;
    /* object-fit: cover; */
    /* border-radius: 2rem; */
}


